<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Launch Options</string>
			<key>FooterText</key>
			<string>Arguments passed to vim at startup. See &quot;:h startup-options&quot;. Effective at every launch if &apos;Always&apos; is on; one-off otherwise.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Arguments</string>
			<key>Key</key>
			<string>kUDLaunchArguments</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always</string>
			<key>Key</key>
			<string>kUDAlwaysLaunchWithArguments</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Extended Keyboard</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hide By Default</string>
			<key>Key</key>
			<string>kUDHideExtendedKeyboardByDefault</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Hardware Keyboard</string>
			<key>FooterText</key>
			<string>Mapping caps lock has caveats. See &quot;:h ios-external-keyboard&quot;. Mapping [alt] enables iVim take over alt- keystrokes.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Map [caps lock] to</string>
			<key>Key</key>
			<string>kUDCapsLockMapping</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>none</string>
				<string>esc</string>
				<string>ctrl</string>
			</array>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>esc</string>
				<string>ctrl</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable [alt] Mapping</string>
			<key>Key</key>
			<string>kUDOptionMapping</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Dictation</string>
			<key>FooterText</key>
			<string>Force mode jumping when dictation happens in normal mode. See &quot;:h ios-dictation&quot;.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Force normal mode to</string>
			<key>Key</key>
			<string>kUDDictationNormalModeTarget</string>
			<key>DefaultValue</key>
			<string>insert</string>
			<key>Titles</key>
			<array>
				<string>insert mode</string>
				<string>command line mode</string>
				<string>none</string>
			</array>
			<key>Values</key>
			<array>
				<string>insert</string>
				<string>cmdline</string>
				<string>none</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
