<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iVim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iVimShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE531AF11F20941100D71DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE531B051F20941200D71DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE531B101F20941200D71DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEEAD1791F23005500B4CAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
